<%= form_for(@case, :html => {:class => 'form-horizontal', :role => 'form'}) do |f| %>
  <% if @case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@case.errors.count, "error") %> prohibited this case from being saved:</h2>

      <ul>
      <% @case.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'col-lg-2 control-label' %>
    <div class="col-lg-4">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
  </div>
  
  <%= fields_for @update do |u| %>
    <div class="form-group">
      <%= u.label :text, :class => 'col-lg-2 control-label' %>
      <div class="col-lg-4">
        <%= u.text_area :text, :class => 'form-control' %>
      </div>
    </div>
  <%- end %>

  <div class="actions">
    <%= f.submit :class => 'btn btn-lrg btn-primary' %>
  </div>
<% end %>
