<h1>Listing cases</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Case</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @cases.each do |c| %>
    <tr>
      <td>
	<%- if c.updates.last.updated_at > 3.days.ago %>
	<span class="label label-primary">New</span>
	<%- else %>
	&nbsp;
	<%- end %>
      </td>
      <td><%= c.title %></td>
      <td><%= link_to 'Show', c %></td>
      <td><%= link_to 'Edit', edit_case_path(c) %></td>
      <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Case', new_case_path %>
