<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @case.title %>
</p>

<section>
  <ol>
    <% @case.updates.order('created_at DESC').each do |u| %>
    <li>
      <article>
	<header><%= u.title %></header>
	<footer>Posted by <%= u.user.firstname %> on <%= u.created_at %></footer>
	<div><%= u.text %></div>
      </article>
    </li>
    <% end %>
  </ol>
</section>

<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
